/*Comentario de scss*/

/*CONTENIDO GENERAL*/


* {
    font-family: 'Manrope', sans-serif;
    margin: 0%;
    padding: 0%
  }
  
  body {
    height: 100%;
    width: 100%;
    background-color: #2884b8;
    background-image: linear-gradient(to top left, #380036 0%, #0cbaba 73%);
    

    /*Variables*/
  $color: #0e0e46; 


  button {
    box-shadow: 10px 5px 5px black;
  }
  
  
  
  
  h2 {
    display: block;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 50px;
    padding: 10px;
    border: solid 5px $color;
    background-color: $color;
    color: azure;
  }
  
}
  /*CONTENIDO FOOTER index*/
  
  footer {
    width: 100%;
    height: 600px;
    background-color: #0cbaba;
    background-image: linear-gradient(to top, #380036 95%, #0cbaba 100%);
  
  
  
  .graciasFlex {
    display: flex;
  }
  
  p {
    font-size: 35px;
    background-color: darkgrey;
    padding: 5px;
  }
  
  
  h3 {
    display: block;
    margin-top: 60px;
    margin-left: 25%;
    margin-bottom: 50px;
    padding: 50px;
    color: aliceblue;
  }
  
  h5 {
    margin-top: 40px;
    margin-left: 33%;
    font-size: 15px;
  }
  
  .info {
    display: inline-block;
    font-size: 20px;
    margin-left: 13%;
    margin-bottom: 50px;
    color: #0a0a0a;
  }
  
  
  
  .inicio {
    display: inline-block;
    margin-left: 20%;
    margin-bottom: 40px;
    border-radius: 50%;
    box-shadow: 8px 5px 5px black;
  }
  
  
  .redes {
    display: inline-block;
    margin-left: 22%;
  }
  
  .instagram {
    border-radius: 50%;
    box-shadow: 8px 5px 5px black;
  }
  
  .face {
    border-radius: 50%;
    box-shadow: 8px 5px 5px black;
  }
  
  
  
  label {
    margin-left: 25%;
    color: aliceblue;
  }
  
  .mail {
    margin-top: 5%;
    font-size: 25px;
  }
}
  /* Estilos de Grid por Areas pagina index*/
  
  #gridAreas {
    display: grid;
    grid-template-areas:
  
      /*estructura 3 columnas y 9 filas*/
  
      "header header header"
      "videos videos videos"
      "bannerR bannerR bannerR"
      "regiones regiones argentina"
      "bannerI bannerI bannerI"
      "imperdibles imperdibles imperdibles"
      "bannerO bannerO bannerO"
      "organiza organiza organiza"
      "footer footer footer"
    ;
    grid-template-columns: (3, 33.3%);
    grid-template-rows: (9fr 2fr 1fr 3fr 1fr 3fr 1fr 3fr 3fr);
  }
  
  /*Nombrar las areas */
  
  header {
    grid-area: header;
    width: 100%;
  }
  
  #videos {
    grid-area: videos;
    display: flex;
  }
  
  #bannerR {
    grid-area: bannerR;
  }
  
  #regiones {
    grid-area: regiones;
    margin-left: 40px;
  }
  
  #argentina {
    grid-area: argentina;
    margin-top: -25%;
    margin-left: -40%;
    height: 10%;
    width: 20%;
  }
  
  #bannerI {
    grid-area: bannerI;
  }
  
  #imperdibles {
    grid-area: imperdibles;
    margin: auto;
  }
  
  #bannerO {
    grid-area: bannerO;
  }
  
  #organiza {
    grid-area: organiza;
    margin: auto;
    margin-bottom: 3%;
  }
  
  #logo {
    border-radius: 50%;
    box-shadow: 8px 5px 5px black;
  }
  
  #perfil {
    border-radius: 50%;
    box-shadow: 8px 5px 5px black;
  }
  
  footer {
    grid-area: footer;
    background-color: #380036;
  }
  
  /* TABLET minimo 481px maximo 1023px  */
  
  @media (min-width:481px) and (max-width:1023px) {
  
  
    /*CONTENIDO DEL NAV index*/
  
    
  
    /*CONTENIDO MAIN index*/
  
  
  
  
    h2 {
      display: block;
      margin-top: 100px;
      margin-bottom: 30px;
      font-size: 50px;
      padding: 10px;
      border: solid 5px #0e0e46;
  
    }
  
  
  
  
  
  
    /*CONTENIDO FOOTER index*/
  
  
  
  
    footer {
      width: 100%;
      height: 600px;
  
    
  
  
    .graciasFlex {
      display: flex;
    }
  
    p {
      font-size: 35px;
      background-color: darkgrey;
      padding: 5px;
    }
  
  
    h3 {
      display: block;
      margin-top: 60px;
      margin-left: 35%;
      margin-bottom: 100px;
      padding: 50px;
      background-color: #380036;
      color: aliceblue;
    }
  
    h5 {
      margin-top: 40px;
      margin-left: 33%;
      font-size: 15px;
    }
  
    .info {
      display: inline-block;
      font-size: 20px;
      margin-left: 13%;
      margin-bottom: 50px;
      background-color: #0e0e46;
      color: #0a0a0a;
    }
  
  
  
    .inicio {
      display: inline-block;
      margin-left: 20%;
      margin-bottom: 40px;
      border-radius: 50%;
      box-shadow: 8px 5px 5px black;
    }
  
  
    .redes {
      display: inline-block;
      margin-left: 22%;
  
    }
  
    .instagram {
      border-radius: 50%;
      box-shadow: 8px 5px 5px black;
    }
  
    .face {
      border-radius: 50%;
      box-shadow: 8px 5px 5px black;
    }
  
    div,
    form,
    label,
    input {
      font-size: 20px;
    }
  
    label {
      margin-left: 30%;
      color: aliceblue;
    }
}
    /* Estilos de Grid por Areas pagina index*/
  
    #gridAreas {
      display: grid;
      grid-template-areas:
  
        /*estructura 3 columnas y 9 filas*/
  
        "header header header"
        "videos videos videos"
        "bannerR bannerR bannerR"
        "regiones regiones argentina"
        "bannerI bannerI bannerI"
        "imperdibles imperdibles imperdibles"
        "bannerO bannerO bannerO"
        "organiza organiza organiza"
        "footer footer footer"
      ;
      grid-template-columns: (3, 33.3%);
      grid-template-rows: (9fr 2fr 1fr 3fr 1fr 3fr 1fr 3fr 3fr);
    }
  
    /*Nombrar las areas */
  
    header {
      grid-area: header;
      width: 100%;
    }
  
    #videos {
      grid-area: videos;
    }
  
    #bannerR {
      grid-area: bannerR;
    }
  
    #regiones {
      grid-area: regiones;
      margin-left: 8%;
  
    }
  
    #argentina {
      grid-area: argentina;
    }
  
    #bannerI {
      grid-area: bannerI;
    }
  
    #imperdibles {
      grid-area: imperdibles;
      margin-left: 10%;
      ;
    }
  
    #bannerO {
      grid-area: bannerO;
    }
  
    #organiza {
      grid-area: organiza;
      margin: auto;
      margin-bottom: 5%;
    }
  
    footer {
      grid-area: footer;
    }
  
    .mail {
      margin-left: 10%;
    }
  
    #logo {
      border-radius: 50%;
      box-shadow: 8px 5px 5px black;
    }
  
    #perfil {
      border-radius: 50%;
      box-shadow: 8px 5px 5px black;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*SMARTPHONE  maximo 480px */
  
  
  @media (max-width:480px) {
  
    /*CONTENIDO DEL NAV index*/
  
  
  
   
  
    .ico {
      width: 70px;
      height: 70px;
    }
  
  
    /*CONTENIDO MAIN index*/
  
  
    
  
    h2 {
      font-size: 20px;
    }
  
  
  
  
  
  
    /* pagina 2*/
    p {
      font-size: 35px;
      background-color: darkgrey;
      padding: 5px;
    }
  
  
    h3 {
      font-size: 20px;
      margin-left: -1%;
    }
  
  
    .info {
      font-size: 16px;
      margin-top: -5%;
      margin-left: 33%;
    }
  
  
  
    .inicio {
      margin-left: 35%;
  
    }
  
    .redes {
      margin-left: 43%;
      margin-bottom: 5%;
    }
  
  
  
  
    .mail {
      margin-left: 5%;
    }
  
    .email {
      margin-left: 20%;
    }
  
  
    h5 {
      margin-top: 40px;
      margin-left: 5%;
      font-size: 14px;
    }
  
  
    /*Nombrar las areas */
  
  
    #videos {
      grid-area: videos;
    }
  
    #bannerR {
      grid-area: bannerR;
    }
  
    #regiones {
      grid-area: regiones;
      margin-left: 4%;
  
    }
  
    #argentina {
      grid-area: argentina;
    }
  
    #bannerI {
      grid-area: bannerI;
    }
  
    #imperdibles {
      grid-area: imperdibles;
      margin-left: 4%;
    }
  
    #bannerO {
      grid-area: bannerO;
    }
  
    #organiza {
      grid-area: organiza;
      margin-left: 20%;
      margin-bottom: 5%;
    }
  
    #subir {
      background-color: #0e0e46;
      border-radius: 50%;
    }
  
    #instagram {
      background-color: #0e0e46;
      width: 30px;
      height: 30px;
    }
  
    #face {
      background-color: #0e0e46;
      width: 30px;
      height: 30px;
    }
  
  
    img {
      height: 140px;
      width: 140px;
    }
  
    footer {
      grid-area: footer;
      height: 800px;
      width: 100%;
      background-color: #0e0e46;
    }
  
    label {
      margin-left: 55px;
    }
  
    form {
      margin-left: 10px;
    }
  
  
  }
  